/*Content*/

.content {
    padding-top: 60px;
}

.login {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 0 20% 0 20% 0;
    margin-bottom: 361px;
}

/*Content*/

